<%- contentFor('css_body') %>
<style>
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
<%- contentFor('body') %>
<div class="container rl">
  <form class="form" action="/login" method="post">
    <div class="title">Login</div>
    <% if(error_msg.length != 0) { %>
    <div class="msg-form error"><%= error_msg %></div>
    <% } %> <% if(success_msg.length != 0){ %>
    <div class="msg-form success"><%= success_msg %></div>
    <% } %>
    <div class="form-field">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
    </div>
    <div class="form-field">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
    </div>
    <div class="form-submit">
      <button type="submit">Login</button>
    </div>
    <div class="form-submit">
      <a href="/login/facebook">
        <i class="bx bxl-facebook-square"></i>
        Login with Facebook
      </a>
    </div>
  </form>
</div>

<%- contentFor('js_body') %>
