<%- contentFor('css_body') %> <%- contentFor('body') %>
<div class="container rl">
  <form class="form" action="/register" method="post">
    <div class="title">Register</div>
    <% if(error_msg){ %>
    <div class="msg-form error"><%= error_msg %></div>
    <% } %> <% if(success_msg){ %>
    <div class="msg-form success"><%= success_msg %></div>
    <% } %>
    <div class="form-field">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
    </div>
    <div class="form-field">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
    </div>
    <div class="form-field">
      <label for="password-confirm">Password confirm:</label>
      <input type="password" id="password-confirm" name="passwordC" />
    </div>
    <div class="form-submit">
      <button type="submit">Register</button>
    </div>
  </form>
</div>

<%- contentFor('js_body') %>
