<%- contentFor('css_body') %> <%- contentFor('body') %>
<div class="container">
  <%- include('../partials/slide'); -%>

  <section class="main-body">
    <div class="store" id="store">
      <div class="products">
        <div class="sort">
          <div class="select">
            <span>sort by:</span>
            <select id="selectSort">
              <option value="release|asc">New release</option>
              <option value="name|asc">Alphabetical: A-Z</option>
              <option value="name|desc">Alphabetical: Z-A</option>
              <option value="price|asc">Price: low to high</option>
              <option value="price|desc">Price: high to low</option>
            </select>
          </div>
        </div>
        <div class="product-list row" id="product-list">
          <% products.forEach(function(product){ %>
          <!-- product -->
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 product-card-container">
            <%-include('../partials/product', {product}); %>
          </div>
          <% }); %>
        </div>
        <div class="page" id="page-store">
          <!-- <button><i class="bx bx-chevron-left"></i></button> -->
          <% for(let i = 1; i <= opt.totalPage ; i++) {%> <% if (i == opt.page)
          { %>
          <button class="active"><%= i %></button>
          <% } else { %> <button><%= i %></button> <% } %> <% } %>
          <!-- <button><i class="bx bx-chevron-right"></i></button> -->
        </div>
      </div>
      <div class="filter">
        <h3 class="title">Filter</h3>
        <% categories.forEach(category => { %>
        <p><%= category.name %> <i class="bx bx-chevron-down"></i></p>
        <% tags.forEach(tag => { %> <% if (category._id.toString() ==
        tag.category) { %>
        <div class="tag">
          <label for="<%= tag._id %>"><%= tag.name %></label>
          <input
            type="checkbox"
            id="<%= tag._id %>"
            name="tag"
            value="<%= tag._id %>"
          />
        </div>
        <% } %> <% }) %> <% }) %>
        <button id="filter-btn">Accept</button>
      </div>
    </div>
  </section>
</div>

<%- contentFor('js_body') %>

<script src="/assets/js/page-product.js"></script>
<script>
  $(document).ready(function () {
    $(document).on("click", ".product-card-container button", function () {
      let id = $(this).attr("id");
      let cart = localStorage.getItem("epic-cart");
      if (cart) {
        cart = JSON.parse(cart);
        if (!cart.includes(id)) {
          cart.push(id);
        }
      } else {
        cart = [id];
      }
      localStorage.setItem("epic-cart", JSON.stringify(cart));
    });
  });
</script>
